/*** 基础 ***/
.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; }
.pull-right { float: right !important; }
.pull-left { float: left !important; }
.text-center { text-align: center; }
.text-overflow { display: inline-block; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.justify { text-align: justify; text-justify: auto; text-justify: distribute; text-justify: inter-cluster; text-justify: inter-word; text-justify: inter-ideograph; }
.display { display: block; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.row {
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 30px;
    border-bottom: solid 1px #DDDDDD;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-xs-3{
    box-sizing: border-box;
    float: left;
    width: 33.3333%;
    min-height: 1px;
    padding: 5px;
    line-height: 0;
}
/*
 * ivince 2016-02-26
 */
.lazy {
    display: none;
}
.ins_box {
    width: 33.3333333%;
}
.ins_img {
    cursor: pointer;
    width: 100%;
}
.ins_modal {
    position: fixed;
    background: rgba(0,0,0,0.25);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5px 10px;
    z-index: 1;
}
.modal-active {
    overflow: hidden;
}
.modal-active .row {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.modal-tab {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.ins-tab {
    display: table;
    width: 100%;
    height: 100%;
}
.modal-box {
    margin: auto;
    max-width: 720px;
    background: white;
    border-radius: 5px;
}
.modal_img {
    border: none;
    margin: auto;
    padding: 0;
    width: 100%;
}
.ins_header {
    font-family: "Times New Roman", Georgia, Serif, "Microsoft YaHei";
    font-size: 12px;
    line-height: 14px;
    padding: 15px 10px;
    background: rgb(64, 144, 219);
    color: rgba(256,256,256,1);
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
}
.ins_footer {
    //border-top: solid 1px #CDCDCD;
    font-size: 12px;
    line-height: 14px;
    padding: 15px 10px;
    background: white;
    font-weight: bold;
    text-align: center;
    color: #CDCDCD;
}
.img_location {
    font-size: 12px;
    color: rgb(64, 144, 219);
    line-height: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.img_title {
    font-size: 12px;
    color: #696969;
    line-height: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.at-location {
    font-size: 12px;
    color: rgba(0,0,0,0.25);
}
.heart {
    color: red;
}
.line-1px {
    position: relative;
}
.line-1px:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #CDCDCD;
    -webkit-transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
}
.at-10px {
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.at-10px:after {
    content: "@";
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    left: 0px;
    right: 0px;
    color: #CDCDCD;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
}
.shot-12px {
    display: inline-block;
    width: 15px;
    height: 12px;
    background: url(../img/shot.png);
    background-size: 15px 12px;
    vertical-align: bottom;
}
.like-12px {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../img/like.png);
    background-size: 14px 12px;
    vertical-align: bottom;
}
.lazy {
    display: none;
}
.container {
    max-width: 740px;
    margin: auto;
}
.ins_container {
    width: 100%;
    overflow: auto;
}
body {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
img {
    box-shadow: 0;
    border-radius: 0;
    margin:0;
    -webkit-box-shadow: 0;
    -webkit-box-shadow: none;
}
